DEBUG=True
SECRET_KEY=4akodd#^k4f5p5t0=a3h-@0b24^k4_^%nfes@knibfn59@k5&a
ALLOWED_HOSTS=127.0.0.1, .localhost

PAGINATION_PAGE_SIZE=10

#Configuração do banco de dados
ENGINE='django.db.backends.postgresql'
HOST=localhost
DATABASE=ally_teste
USER=develop
PASSWORD=dev123
PORT=5433

# PAGSEGURO
PAGSEGURO_EMAIL='gilsonc.reis@gmail.com'
PAGSEGURO_TOKEN='58DC6000DA134D1783D93045632D93E6'
PAGSEGURO_SANDBOX=True


#DEFAULT_FROM_EMAIL=
#EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
#EMAIL_HOST=
#EMAIL_PORT=
#EMAIL_USE_TLS=
#EMAIL_HOST_USER=
#EMAIL_HOST_PASSWORD=